@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "__geistSansFont_deb525", arial;
}
/* styles for the scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(115 115 115);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(229 229 229);
}
::-webkit-scrollbar-thumb:horizontal {
  scrollbar-gutter: stable;
  width: 3rem;
  border-radius: 1rem;
}

/* remove the default bg color due to autocompletion on inputs */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s; /* weird hack, but works */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cursor-down {
  cursor: url(/assets/arrow-down.svg), s-resize;
}
.cursor-up {
  cursor: url(/assets/arrow-up.svg), n-resize;
}
.cursor-left {
  cursor: url(/assets/arrow-left.svg), w-resize;
}
.cursor-right {
  cursor: url(/assets/arrow-right.svg), e-resize;
}

/* images carousel when the disposition of pages is single page */
.images-carousel::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
