@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "__geistSansFont_deb525", arial;
  @apply scrollbar-thin;
  @apply dark:scrollbar-thumb-blue-700;
}

.popular-inner-section {
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5);  */
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3);  */
  border-radius: 10px;
}
